RewriteEngine On

# If the requested file does not exist
RewriteCond %{REQUEST_FILENAME} !-f

# If the requested directory does not exist
RewriteCond %{REQUEST_FILENAME} !-d

# But if a .html version exists
RewriteCond %{REQUEST_FILENAME}.html -f

# Rewrite /path → /path.html
RewriteRule ^(.+)$ $1.html [L]